@{
    ViewBag.Title = "About";
}
<br />
<h2>Mission and Vision:</h2>
<br />
<div style="font-size:17px">
<p>Our mission is to conserve native plants and insects along with their natural habitats in the United States, and increase understanding, appreciation, and horticultural use of native plants and insects. Our vision includes a future where:</p>
<br />
<ul>
    <li>Americans actively support our mission, which is accomplished through education, plant and insect science, advocacy, land stewardship and native plant gardening.</li>
    <br />
    <li>Americans value native plants and insects, plant communities and healthy ecosystems as essential to the well being of all living things.</li>
    <br />
    <li>Americans can experience native plants throughout the state, in natural environments and human-made landscapes.</li>
    <br />
    <li>North America’s extensive and interconnected natural habitats are preserved.</li>
    <br />
    <li>The Native Gardener is the leader for providing reliable information on North American native plants and insects and conservation. Comprehensive information about North America's flora and vegetation communities is available throughout the country for conservation and educational purposes.</li>
</ul>
</div>
