@{
    ViewBag.Title = "Contact";
}
<br />
<h2>Contact Us</h2>
<h3>The Native Gardener</h3>

<address>
    123 Main Street<br />
    Greenville, IA 58748-7821<br />
    <abbr title="Phone">P:</abbr>
    318.555.2424
</address>

<address>
    <strong>Information:</strong><a href="mailto:Info@nativegarden.com">Info@nativegarden.com</a><br />
    <strong>contributors:</strong> <a href="mailto:contributors@nativegarden.com">Contributors@nativegarden.com</a>
</address>